@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');

body{
    font-family: 'Hubballi', cursive;
    background-image: url('./images/stars.jpg');
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* header  */

#linkedin {
font-size: 38px;
margin-left: 30px;
margin-top: 21px;
margin-right: 15px;
color: white;
}


#github {
    color: white;
    font-size: 35px;
    margin-top: 21px;
    margin-right: 20px;
}

.links {
    float: right;
    display: flex;
    font-size: 20px;
    margin-top: 2rem;
    margin-right: 2rem;
}

.main {
    width: 90%;
    height: 85vh;
    margin-left: 6.5rem;
    margin-top: 5rem;
    /* background-color: rgba(90, 96, 117, .97); */
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    color: white;
    border-radius: 20px;
}

.main img {
    width: 200px;
    margin-left: 100px;
}

/* main info  */

.info {
    margin-left: 40rem;
    margin-top: -6rem;
    /* font-size: 25px; */
    /* display: flex; */
    /* display: block; */
}

.description {
    width: 550px;
    margin-left: 70rem;
    margin-top: -15rem;
    font-size: 25px;
    text-shadow: 0px 2px 1px rgba(238,238,4,0.6);
}

.traits {
    width: 400px;
    position: relative;
    left: 12rem;
    top: -11rem;
    font-size: 25px;
    text-shadow: 0px 2px 1px rgba(238,238,4,0.6);
}

#descDate {
    font-size: 27px;
}

#signTitle {
    font-size: 80px;
    margin-right: 27rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
    color: gold;
}

.info h3 {
    font-size: 28px;
    width: 720px;
    position: relative;
    top: 10rem;
}

#starImg {
    width: 280px;
    position: relative;
    top: 2rem;
}

#moreInfo {
   text-decoration: none; 
   color: white;
   text-shadow: -2px 5px 2px rgba(238,238,4,0.6);
   font-weight: bolder;
}
/* sliding menu  */

.horiz-scroll {
    width: 730px;
    height: 90px;
    border: 1px solid gold;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;
    margin-left: 34rem;
    margin-top: -10rem;
}

.signs-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    left: 0;
    transition: 0.5s all ease-out;
}

.signs-circle {
    width: 60px;
    height: 60px;
    margin: 15px 9.3px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.signs-circle img {
    width: 65px;
    height: 65px;
    margin-left: 15px;
    cursor: pointer;
}

.horiz-scroll .btn-scroll {
    background-color: gold;
    padding: 5px 8px;
    border: none;
    border-radius: 50%;
    margin: 0 5px;
    z-index: 1;
    cursor: pointer;
    box-shadow: 0 0 5px white;
    transition: .5s;
}

.menu h2 {
    text-shadow: 0px 2px 1px rgba(238,238,4,0.6);
    position: relative;
    margin-left: 47rem;
}
